<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="first_robot"  default="robot_0"/>

    <arg name="robot_0_x_pos" default="1.5"  />
    <arg name="robot_0_y_pos" default="1.5"  />
    <arg name="robot_0_z_pos" default="0.0"  />
    <arg name="robot_0_yaw"   default="1.57" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/genetic_algorithm_parametrization_arena.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <!-- <param name="tf_prefix" value="$(arg first_robot)" /> -->
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_robot) -x $(arg robot_0_x_pos) -y $(arg robot_0_y_pos) -z $(arg robot_0_z_pos) -Y $(arg robot_0_yaw) -param robot_description" />

</launch>
