<launch>
  <!-- General arguments -->
  <arg name="SLAM_Name"             default="gmapping"                    />
  <arg name="Robots_Quantity"       default="3"                           />
  <arg name="Robots_Launch_Name"    default="multi_robot_in_world.launch" />
  <arg name="Self_Package_Name"     default="slam_auto_calibrator"        />
  <arg name="SLAM_Launch_Name"      default="slam_launcher.launch"        />
  <arg name="APE_Topic_Name"        default="APE"                         />
  <arg name="Robots_Pronoun"        default="tb3_"                        />
  <arg name="Ground_Truth_Filename" default="Ground_Truth_Image.png"      />

  <!-- Test approach arguments-->
  <arg name="Run_Type"              default="Optimization" />                   <!-- Optimization / Validation -->>
  <arg name="Validation_Trials_Qty" default="30"           />
  <arg name="Population_Size"       default="20"           />
  <arg name="Generations_Qty"       default="7"            />

  <!-- Paths  arguments -->
  <arg name="This_Node_src_Path" default="/home/cerlabrob/catkin_ws/src/slam_auto_calibrator/src/"                              />
  <arg name="Maps_Path"          default="/home/cerlabrob/catkin_ws/src/slam_auto_calibrator/Maps/"                             />
  <arg name="Params_File_Path"   default="/home/cerlabrob/catkin_ws/src/turtlebot3/turtlebot3_slam/config/gmapping_params.yaml" />


  <!-- Calibrator parameters -->
  <param name="SLAMName"            type="str" value="$(arg SLAM_Name)"             />
  <param name="RobotsQty"           type="int" value="$(arg Robots_Quantity)"       />
  <param name="RobotsLaunchName"    type="str" value="$(arg Robots_Launch_Name)"    />
  <param name="SelfPackageName"     type="str" value="$(arg Self_Package_Name)"     />
  <param name="SLAMLaunchName"      type="str" value="$(arg SLAM_Launch_Name)"      />
  <param name="APETopicName"        type="str" value="$(arg APE_Topic_Name)"        />
  <param name="RobotsPronoun"       type="str" value="$(arg Robots_Pronoun)"        />
  <param name="GroundTruthFilename" type="str" value="$(arg Ground_Truth_Filename)" />
  <param name="RunType"             type="str" value="$(arg Run_Type)"              />
  <param name="ValidationTrialsQty" type="int" value="$(arg Validation_Trials_Qty)" />
  <param name="ThisNodeSrcPath"     type="str" value="$(arg This_Node_src_Path)"    />
  <param name="MapsPath"            type="str" value="$(arg Maps_Path)"             />
  <param name="ParamsFilePath"      type="str" value="$(arg Params_File_Path)"      />
  <param name="Population_Size"     type="int" value="$(arg Population_Size)"       />
  <param name="Generations_Qty"     type="int" value="$(arg Generations_Qty)"       />

  <!-- Launch SLAM auto-calibrator node -->
  <node pkg="slam_auto_calibrator" type="slam_automated_calibrator.py" name="slam_auto_calibrator"/>
</launch>
