<launch>
  <arg name="Trainin_Cycles"        default="2"                           />
  <arg name="SLAM_Name"             default="gmapping"                    />
  <arg name="Robots_Quantity"       default="3"                           />
  <arg name="Robots_Launch_Name"    default="multi_robot_in_world.launch" />
  <arg name="SLAM_Package_Name"     default="slam_auto_calibrator"        />
  <arg name="SLAM_Launch_Name"      default="slam_launcher.launch"        />
  <arg name="Params_Dict_Name"      default="Parameters_Robot"            />
  <arg name="APE_Topic_Name"        default="APE"                         />
  <arg name="Robots_Namespace_Base" default="tb3_"                        />
  <arg name="Ground_Truth_Filename" default="Ground_Truth_Image.png"      />

  <param name="TrainingCycles"        type="int" value="$(arg Trainin_Cycles)"        />
  <param name="SLAMName"              type="str" value="$(arg SLAM_Name)"             />
  <param name="RobotsQty"             type="int" value="$(arg Robots_Quantity)"       />
  <param name="RobotsLauchName"       type="str" value="$(arg Robots_Launch_Name)"    />
  <param name="SLAMPackageName"       type="str" value="$(arg SLAM_Package_Name)"     />
  <param name="SLAMLaunchName"        type="str" value="$(arg SLAM_Launch_Name)"      />
  <param name="ParamsDictName"        type="str" value="$(arg Params_Dict_Name)"      />
  <param name="APE_Topic_Name"        type="str" value="$(arg APE_Topic_Name)"        />
  <param name="Robots_Namespace_Base" type="str" value="$(arg Robots_Namespace_Base)" />
  <param name="Ground_Truth_Filename" type="str" value="$(arg Ground_Truth_Filename)" />

  <!-- Launch SLAM auto-calibrator node -->
  <node pkg="slam_auto_calibrator" type="calibrator.py" name="calibrator"/>
</launch>
